<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <%- include ('./partials/header'); %>
    <% if(blogs.length > 0){ %>
    <ul>
        <% for(var i = 0; i < blogs.length; i++){ %>
        <li>
            <a href="/blogs/<%= blogs[i]._id %>">
                <%= blogs[i].title %>
            </a>
        </li>
        <% } %>
    </ul>
    <% } %>

</body>
</html>