<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">
</head>

<body>
    <%- include ('./partials/header'); %>
    <div class="home">
    </div>
    <h1>Best services on your finger tips</h1>
    <button>join us </button>

    <div class="about" id="about">
        <div class="about-text">
            <p>Styling links as buttons
                The tools you've explored so far in this article can also be used in other ways. For example, states
                like hover can be used to style many different elements, not just links — you might want to style the
                hover state of paragraphs, list items, or other things.

                In addition, links are quite commonly styled to look and behave like buttons in certain circumstances. A
                website navigation menu is usually marked up as a list containing links, and this can be easily styled
                to look like a set of control buttons or tabs that provide the user with access to other parts of the
                site. Let's explore how.</p>
        </div>
        <img src="images/background.jpeg" alt="about us ">
    </div>
    <div class="video-show">
        <video src="video/videotest.mkv" controls autoplay loop ></video>
    </div>
    
    <script src="main.js"></script>
</body>

</html>